{% extends 'course/base.html'%} 
{% block content %}
    <h1>{{ branch.name }}</h1>
    <p>adres:<strong>{{ branch.address }}</strong></p>

    <p>dobavil: {{ branch.creator }}</p>
    

    <p>gruppy dannogo filiala:</p>
    <ul>
        {% for g in groups %}
            <li>{{g.name}}</li>
        {% endfor %}
    
    </ul>

    {% if branch.photo %}
    <img src="{{ branch.photo.url }}" alt="" width="300" height="300"/>

    {% endif%}

    <p>
    {% if user.is_authenticated  %}
    <a href="{% url 'branch_edit' branch.id %}" class='btn btn-primary'>izmenit</a>
    {% endif %}
    </p>
{% endblock %}

