{% extends 'course/base.html' %}

{% block content %}

    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nazvanie</th>
            <th scope="col">adaress</th>
            
          </tr>
        </thead>
        <tbody>

        {% for branch in branches %}
          <tr>
            <th scope="row">{{branch.id}}</th>
            <td>{{branch.name}}</td>
            <td>{{branch.address}}</td>
            <td>
              <a href="{% url 'branch_detail' branch.id %}" class='btn btn-primary btn-sm'>podrobnee </a>
            </td>
          </tr>
        {% endfor%}
        </tbody>
        
      </table>
      
      {% if user.is_authenticated  %}
      <a href="{% url 'branch_create' %}" class='btn btn-primary'>create</a>
      {% endif %}

{% endblock %}